.wd-header{
  margin-top: 1.75rem;
}
.wd-header--searchbar {
    border-radius: 1rem;
    float: top;
    padding:0.5rem;
    padding-left: 2rem;
    width: calc(100% - 4rem);
}

.wd-header--searchbutton {

    border: none;
    position: absolute;
    margin: 0.25rem;
    margin-top: 0.5rem;
    color: darkgrey;
    background-color: transparent;

}
.wd-header--settingsbutton{
    border: none;
    position: absolute;
    margin: 0.25rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: darkgrey;
    background-color: transparent;
}

.wd-tabs {
  margin-top: 20px;
}

.wd-tabs--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.wd-tabs--list--item {
  margin-right: 15px;
  flex: 1;
}

.wd-tab-link {
  text-decoration: none;
  color: #000;
  position: relative;
}

.wd-tab-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #4287f5;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wd-selected .wd-tab-link::after {
  opacity: 1;
}

.wd-body--image-container {
  position: relative;
  display: inline-block;
}

.wd-body--image {
  display: block;
  width: 100%;
  height: auto;
}

.wd-body--image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

