.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .wd-header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .wd-header--back-btn,
  .wd-header--dots-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #777;
    font-size: 18px;
  }
  
  .wd-header--title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .wd-bookmark-list {
    width: 100%;
  }
  
  .wd-tuit {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .wd-tuit--profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  
  .wd-tuit--content {
    flex: 1;
    margin-left: 10px;
    border-bottom: 1px solid #ddd;
    
  }
  
  .wd-tuit--username {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .wd-tuit--text {
    margin-bottom: 5px;
  }
  
  .wd-tuit--media img {
    max-width: 100%;
    margin-bottom: 0px;
  }
  
  .wd-tuit--link {
    color: #1da1f2;
    font-size: 14px;
    text-decoration: none;
  }
  
  .wd-tuit--dots-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #777;
    font-size: 18px;
  }
  